*{
    padding: 0;
    margin:0;
}
header{
    width: 100%;
    min-height: 200px;
    background-color: #293F51;
    color: #fff;
}
.container{
    width: 55%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.top{
    width: 100%;
}
.top .logo{
    
    float: left;
    left:0;
    font-size: 2.2em;
    text-transform: uppercase;
    border-top: 4px  solid  #798288;
    cursor: pointer;
    padding-top:31px;
}
.top .sideMenu{
    float: right; 
    padding-top: 66px;
}
.carousel-caption h5{

    font-size: 45px;

    text-transform: uppercase;

    letter-spacing: 2px;
    margin-bottom:30%;

    margin-top: 25px;

    font-family: merienda;

}

.carousel-caption p{

    width: 60%;

    margin: auto;

    font-size: 18px;

    line-height: 1.9;

    font-family: poppins;

}
h5{
    color: #fff;
}